.animation {
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-bottom: 100%;
    width: 300%;
  }

  to {
    margin-bottom: 0%;
    width: 100%;
  }
}
.single-blog-area {
  position: relative;
  z-index: 1;
  margin-bottom: 70px;
}
.single-blog-area .single-blog-thumb {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.single-blog-area .single-blog-thumb img {
  border-radius: 10px 10px 0 0;
  -webkit-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
}
.single-blog-area .single-blog-text {
  background-color: #ffffff;
  padding: 30px 30px 50px 30px;
  border-radius: 0 0 10px 10px;
}
.single-blog-area .single-blog-text .blog-title {
  font-size: 20px;
  font-weight: 600;
  color: #111343;
  margin-bottom: 5px;
  display: inline-block;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}
.single-blog-area .single-blog-text .blog-title:hover,
.single-blog-area .single-blog-text .blog-title:focus {
  color: #df42b1;
}
.single-blog-area .single-blog-text .post-meta {
  margin-bottom: 15px;
}
.single-blog-area .single-blog-text .post-meta a {
  color: #9293bc;
  font-size: 14px;
  margin-right: 20px;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}
.single-blog-area .single-blog-text .post-meta a i {
  margin-right: 5px;
}
.single-blog-area .single-blog-text .post-meta a:last-child {
  margin-right: 0;
}
.single-blog-area .single-blog-text .post-meta a:hover,
.single-blog-area .single-blog-text .post-meta a:focus {
  color: #df42b1;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-blog-area .single-blog-text .post-meta a {
    margin-right: 15px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .single-blog-area .single-blog-text .post-meta a {
    margin-right: 15px;
    font-size: 12px;
  }
}
.single-blog-area .single-blog-text p {
  color: #5d5e8d;
  margin-bottom: 0;
}
.single-blog-area:hover .single-blog-thumb img,
.single-blog-area:focus .single-blog-thumb img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.single-blog-area.style-2 {
  background-color: #ffffff;
  box-shadow: 0px 8px 27px 0px rgba(90, 111, 120, 0.15);
}
